.btn {
    margin: 0 10px;
    box-sizing: border-box;
    width: 120px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #36454F;
    font-size: 25px;
    font-weight: 600;
}

.disabled {
    box-sizing: border-box;
    margin: 0 10px;
    width: 120px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #36454F;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.5;
}