.controller  {
    box-sizing: border-box;
    width: 320px;
    height: 70px;
    border: 4px solid #61dafb;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}