.App {
    background-color: #5D3FD3;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    color: #ffffff;
    font-size: 100px;
}

.content {
    display: flex;
    justify-content: center;
}